<h3>Fruits</h3>
<table class="fruits">
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>Grapefruit</td>
    <td>Pink</td>
    <td><a href="submit?name=Grapefruit&action=edit">Edit</a></td>
    <td><a href="submit?name=Grapefruit&action=delete">Delete</a></td>
  </tr>
  <tr>
    <td>Grape</td>
    <td>Purple</td>
    <td><a href="submit?name=Grape&action=edit">Edit</a></td>
    <td><a href="submit?name=Grape&action=delete">Delete</a></td>
  </tr>
  <tr>
    <td>Apple</td>
    <td>Red</td>
    <td><a href="submit?name=Apple&action=edit">Edit</a></td>
    <td><a href="submit?name=Apple&action=delete">Delete</a></td>
  </tr>
  <tr>
    <td>Pear</td>
    <td>Green</td>
    <td><a href="submit?name=Pear&action=edit">Edit</a></td>
    <td><a href="submit?name=Pear&action=delete">Delete</a></td>
  </tr>
</table>

<h3>Vegetables</h3>
<table class="vegetables">
  <tr>
    <th>Select</th>
    <th>Vegetable</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td><input type="checkbox" name="broccoli" value="Broccoli"></td>
    <td>Broccoli</td>
    <td><a href="submit?name=Broccoli&action=edit">Modify</a></td>
    <td><a href="submit?name=Broccoli&action=delete">Remove</a></td>
  </tr>
  <tr>
    <td><input type="checkbox" name="brussels sprouts" value="Brussels Sprouts"></td>
    <td>Brussels Sprouts</td>
    <td><a href="submit?name=Brussels%20Sprouts&action=edit">Modify</a></td>
    <td><a href="submit?name=Brussels%20Sprouts&action=delete">Remove</a></td>
  </tr>
</table>

